{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.Hosting.Lifetime": "Information",
      "PostForge.Worker": "Debug"
    }
  },
  "Worker": {
    "PollIntervalSeconds": 10,
    "PublishRetryCount": 3
  },
  "ConnectionStrings": {
    "PostForgeDb": "Host=localhost;Port=5432;Database=PostForgeDb;Username=postgres;Password=postforge",
    "ServiceBus": ""
  }
}
